fastapi
uvicorn[standard]
openai
langchain>=0.2.10
langchain-community>=0.2.10
langchain-openai>=0.2.0
langchain-text-splitters>=0.2.0
tiktoken==0.9.0
faiss-cpu
pymysql
pydantic
python-dotenv
rank_bm25>=0.2.2
pyyaml
requests
